.DS_Store
.README.swp
accdataX.swp
doc/Accdata.bbl
doc/Accdata.bib
doc/Accdata.blg
doc/Accdata.lot
doc/natbib.bst
doc/natbib.sty
doc/natbib_ita.bst
doc/plain_ita.bst
doc/.DS_Store
doc/Accdata.aux
doc/Accdata.dvi
doc/Accdata.fdb_latexmk
doc/Accdata.fls
doc/Accdata.lof
doc/Accdata.log
doc/Accdata.out
doc/Accdata.synctex.gz
doc/Accdata.tex.project.vim
doc/Accdata.toc
doc/AccdataIEEE.aux
doc/AccdataIEEE.log
doc/AccdataIEEE.synctex.gz
doc/AccdataIEEE.tex.project.vim
doc/AccdataIEEE.toc
doc/AccdataIEEE_aux
doc/Accdata_aux
q.log
svmxor/(nomefig).eps
svmxor/.DS_Store
svmxor/Iris-2015-07-13-18-27.mat
svmxor/Iris1-2015-07-13-18-27.eps
svmxor/Iris1-2015-07-13-18-30.eps
svmxor/Iris1-2015-7-14-10-0.eps
svmxor/Iris1-2015-7-14-10-6.eps
svmxor/Iris1-2015-7-14-11-11.eps
svmxor/Iris1-2015-7-14-11-42.eps
svmxor/Iris2-2015-07-13-18-27.eps
svmxor/Iris2-2015-07-13-18-30.eps
svmxor/Iris2-2015-7-14-11-11.eps
svmxor/Iris2-2015-7-14-11-43.eps
svmxor/Iris3-2015-07-13-18-27.eps
svmxor/Iris3-2015-07-13-18-30.eps
svmxor/Iris3-2015-7-14-11-12.eps
svmxor/Iris3-2015-7-14-11-43.eps
svmxor/IrisData
svmxor/IrisData-0714-1716.mat
svmxor/IrisData.mat
svmxor/Untitled.asv
svmxor/iris.asv
svmxor/iris.mat
svmxor/iris.pdf
svmxor/iris1-2015-7-14-15-52.eps
svmxor/iris1-2015-7-14-16-26.pdf
svmxor/iris1-2015-7-14-16-28.pdf
svmxor/iris1-2015-7-14-16-29.pdf
svmxor/iris1-2015-7-14-16-32.pdf
svmxor/iris1-2015-7-14-17-0.pdf
svmxor/iris1-2015-7-14-17-1.pdf
svmxor/iris1-2015-7-14-17-2.pdf
svmxor/iris1-2015-7-14-17-5.pdf
svmxor/iris2-2015-7-14-15-52.eps
svmxor/iris2-2015-7-14-16-54.pdf
svmxor/iris2-2015-7-14-17-2.pdf
svmxor/iris2-2015-7-14-17-5.pdf
svmxor/iris3-2015-7-14-15-53.eps
svmxor/iris3-2015-7-14-15-54.eps
svmxor/iris3-2015-7-14-16-2.eps
svmxor/iris3-2015-7-14-16-54.pdf
svmxor/iris3-2015-7-14-17-2.pdf
svmxor/iris3-2015-7-14-17-5.pdf
svmxor/iris4-2015-7-14-15-54.eps
svmxor/iris4-2015-7-14-15-58.eps
svmxor/iris4-2015-7-14-16-2.eps
svmxor/iris4-2015-7-14-16-3.pdf
svmxor/lagrangiana.asv
svmxor/main.asv
svmxor/my_svmtrain.asv
svmxor/poly2fimap.asv
texput.log

.README.swp
accdataX.swp
doc/.DS_Store
doc/Accdata.aux
doc/Accdata.dvi
doc/Accdata.fdb_latexmk
doc/Accdata.fls
doc/Accdata.lof
doc/Accdata.log
doc/Accdata.synctex.gz
doc/Accdata.tex.project.vim
doc/Accdata.toc
doc/AccdataIEEE.aux
doc/AccdataIEEE.log
doc/AccdataIEEE.synctex.gz
doc/AccdataIEEE.tex.project.vim
doc/AccdataIEEE.toc
doc/AccdataIEEE_aux
doc/Accdata_aux
q.log
svmxor/(nomefig).eps
svmxor/.DS_Store
svmxor/Iris-2015-07-13-18-27.mat
svmxor/Iris1-2015-07-13-18-27.eps
svmxor/Iris1-2015-07-13-18-30.eps
svmxor/Iris1-2015-7-14-10-0.eps
svmxor/Iris1-2015-7-14-10-6.eps
svmxor/Iris1-2015-7-14-11-11.eps
svmxor/Iris1-2015-7-14-11-42.eps
svmxor/Iris2-2015-07-13-18-27.eps
svmxor/Iris2-2015-07-13-18-30.eps
svmxor/Iris2-2015-7-14-11-11.eps
svmxor/Iris2-2015-7-14-11-43.eps
svmxor/Iris3-2015-07-13-18-27.eps
svmxor/Iris3-2015-07-13-18-30.eps
svmxor/Iris3-2015-7-14-11-12.eps
svmxor/Iris3-2015-7-14-11-43.eps
svmxor/IrisData
svmxor/IrisData-0714-1716.mat
svmxor/IrisData.mat
svmxor/Untitled.asv
svmxor/iris.asv
svmxor/iris.mat
svmxor/iris.pdf
svmxor/iris1-2015-7-14-15-52.eps
svmxor/iris1-2015-7-14-16-26.pdf
svmxor/iris1-2015-7-14-16-28.pdf
svmxor/iris1-2015-7-14-16-29.pdf
svmxor/iris1-2015-7-14-16-32.pdf
svmxor/iris1-2015-7-14-17-0.pdf
svmxor/iris1-2015-7-14-17-1.pdf
svmxor/iris1-2015-7-14-17-2.pdf
svmxor/iris1-2015-7-14-17-5.pdf
svmxor/iris2-2015-7-14-15-52.eps
svmxor/iris2-2015-7-14-16-54.pdf
svmxor/iris2-2015-7-14-17-2.pdf
svmxor/iris2-2015-7-14-17-5.pdf
svmxor/iris3-2015-7-14-15-53.eps
svmxor/iris3-2015-7-14-15-54.eps
svmxor/iris3-2015-7-14-16-2.eps
svmxor/iris3-2015-7-14-16-54.pdf
svmxor/iris3-2015-7-14-17-2.pdf
svmxor/iris3-2015-7-14-17-5.pdf
svmxor/iris4-2015-7-14-15-54.eps
svmxor/iris4-2015-7-14-15-58.eps
svmxor/iris4-2015-7-14-16-2.eps
svmxor/iris4-2015-7-14-16-3.pdf
svmxor/lagrangiana.asv
svmxor/main.asv
svmxor/my_svmtrain.asv
svmxor/poly2fimap.asv
texput.log
orgente/prove_con_daniele/.MAIN.m.swp
sorgente/prove_con_daniele/00importare/dati
sorgente/prove_con_daniele/01eseguire/.disegnetti.m.swp
sorgente/prove_con_daniele/01eseguire/.importazione.m.swp
sorgente/prove_con_daniele/.MAIN.m.swp
